* {
    font-family: 'roboto';
    margin: 0%;
    
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(223, 106, 28);
}

h1 {
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
}

#buscar{
    border: 0px;
    border-radius: 15%;
    width: 100px;
    margin-right: 35px;
    margin-top: -25px;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.row {
    width: 95%;
    height: 750px;
    justify-content: space-around;
    background-color: beige;
    padding: 2.5%;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    row-gap: 100px;
    column-gap: 20px;
    align-items: stretch;
    overflow-wrap:normal;
    box-shadow: green
    
}

#botao{
    width: 200px;
    height: 265px;
    vertical-align: top;
}

#buttonM1 {
    width: 200px;
    height: 265px;
    box-shadow: 7px 7px 13px 0 green;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border: 0px;
    padding-top: -25px;
}

#buttonM1:hover {
    opacity: 80%;
    background-color: rgb(184, 184, 153);
}

#imgm1{
    margin-left: -6px;
    margin-top: -45px;
    width: 200px;
    height: 200px;
}

#textbutton{
    font-family: 'roboto';
    font-size: medium;
}

#imgm2 {
    width: 100%;
    height: 250px;
}

#img{
    width: 100%;
    height: 200px;
}

#cardM3{
    width: 200px;
    height: 265px;
    box-shadow: 7px 7px 13px 0 green;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(247, 247, 247);
}

#cardM3:hover{
    opacity: 80%;
    background-color: rgb(184, 184, 153);
}

footer {
    background-color: rgb(223, 106, 28);
    text-align: center;
}


@media screen and (min-width : 368px) and (max-device-width :480px){
    .row {display:none ;}
    
}