header .tituloFun {
    background-color: cadetblue;
}

.guia {
    background-color:cadetblue
}

.fun {
    text-align: center;
    background-color: rgb(33, 132, 136);
}

.fun1 {
    background-color: cadetblue;
}
.fun2 {
    background-color: cadetblue;
}

.body {
    background-color: rgb(0, 41, 80);
}

.redessociais{
    text-align: center;

    background-color: cadetblue;
}

.logo {
    text-align: center;

}

.logo1 {
    width: 50px;
    height:50px;
}

.logo2 {
    width: 50px;
    height:50px;
}